* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}
nav img {
  height: 40px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin-right: 20px;
  color: #575757;
}
.button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #1d4ed8;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/banner.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header h2,p{
    color: white;
}
header h2{
     font-size:xx-large;
}
header button{
    margin-top: 150px;
}
main section{
  background-color: aqua;
  padding: 60px 8%;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container h2{
  margin-bottom: 60px;
}
.main-container h5{
  color: #2563EB;
  font-weight: 700px;
}
.main-container h3{
  color: #0D1B2A;
  font-weight: bold;
}
.main-container p{
  color: #575757;
  font-size: 14px;
}
.main-container img{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   margin-bottom: 10px;
}
.speaker{
  background-color: white;
  border:2px solid rgba(139, 138, 138, 0.149);
  border-radius: 10px;
}
.speaker-info{
  padding-left: 20px;
  padding-bottom: 10px;
}
.speakers-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  
}
.secure{
  background-color: white;
   padding: 60px 8%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.secure-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secure-title h2{
  margin-bottom: 10px;
}
.secure-title p{
  margin-bottom: 30px;
  color: #575757;
}
.card{
  border: 2px solid rgba(185, 184, 184, 0.785);
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
}
.card p{
  font-size: 13px;
  margin-bottom: 10px;
}
.para{
  color: #888888;
}
.pro{
  color: #93C5FD;
}
.card h2{
  margin-bottom: 10px;
}
.card ul span{
  color: #1d4ed8;
}
.card ul li{
   list-style: none;
}
.card hr{
  margin-bottom: 10px;
}
.card ul li{
  margin-bottom: 10px;
}
.card button{
  width: 100%;
}
.card-btn-1{
  padding: 10px 30px;
  border: 2px solid #2563EB;
  border-radius: 8px;
  background-color: white;
  color: #2563EB;
}
.card-btn-3{
  padding: 10px 30px;
  border: 2px solid #0D1B2A;
  border-radius: 8px;
  background-color: white;
  color: #0D1B2A
}
.get-pro{
  background-color: #0D1B2A;
}
.contact{
  background-color: #F8F9FB;
}
.card-container{
  display: flex;
  align-items: center;
  gap: 40px;
}
.sponsor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F5FF;
}
.sponsor-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.sponsor-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.sponsor-card{
  /* border: 2px solid #ECECEC;
  border-radius: 10px; */
  
}
.sponsor-card img{
  width: 200px;
  height: 110px;
  /* object-fit: cover; */
  border-radius: 10px;

}
.sponsor h2{
  color: #111827;
  margin-bottom: 10px;
}
.sponsor p{
  color: #6B7280;
}
.sponsor-btn{
  margin-top: 20px;
}