* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}
nav img {
  height: 40px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin-right: 20px;
  color: #575757;
}
.button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #1d4ed8;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/banner.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header h2,p{
    color: white;
}
header h2{
     font-size:xx-large;
}
header button{
    margin-top: 150px;
}
main section{
  background-color: aqua;
  padding: 60px 8%;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section h2{
  margin-bottom: 60px;
}
main section h5{
  color: #2563EB;
  font-weight: 700px;
}
main section h3{
  color: #0D1B2A;
  font-weight: bold;
}
main section p{
  color: #575757;
  font-size: 14px;
}
main section img{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.speaker{
  background-color: white;
  border:2px solid rgba(139, 138, 138, 0.149);
  border-radius: 10px;
}
.speaker h5,h3,p{
  padding-left: 20px;
  padding-bottom: 10px;
}
.speakers-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  
}
